:root {
  --principal: #185227;
  --hover: #75eb93;
  --acento: #b3ffc6;
  --secundario: #0d852b;
  --blanco: #e5ffec;
  --titulo: "Jost", sans-serif;
  --subtitulo: "Fresca", sans-serif;
  --texto: "Quicksand", sans-serif;
}

#bannerblog {
  height: max-content;
  width: 100vw;
  background-image: url("/imagenes/banner blog.jpg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

#bannerblog h2 {
  font-family: var(--titulo);
  color: var(--blanco);
  font-size: 6rem;
}

.contenedorarticulo {
  position: relative;
  background-color: var(--blanco);
}

.contenedorarticulo img {
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2 * var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
}

.blogpostbanner {
  background-color: var(--principal);
}

.blogpostbanner h3 {
  font-family: var(--principal);
  color: var(--blanco);
}

.blogpostbanner p {
  font-family: var(--subtitulo);
  color: var(--acento);
}

.blogpostbanner a {
  font-family: var(--texto);
  color: var(--blanco);
}

.blogpostbanner a:hover {
  color: var(--hover);
}

@media only screen and (min-width: 1281px) {
  #contenedortarjetas {
    width: 95vw;
  }

  .contenedorarticulo img {
    height: 40vh;
  }

  .blogpostbanner {
    position: absolute;
    bottom: 50px;
    left: 70px;
  }
}

@media only screen and (max-width: 1280px) {
  #contenedortarjetas {
    width: 95vw;
  }

  .contenedorarticulo img {
    height: 40vh;
  }

  .blogpostbanner {
    position: absolute;
    bottom: 50px;
    left: 70px;
  }
}

@media only screen and (max-width: 768px) {
  #contenedortarjetas {
    width: 95vw;
  }

  .contenedorarticulo img {
    width: 95vw;
  }

  .blogpostbanner {
    position: relative;
    bottom: 0px;
    left: 0px;
  }
}

@media only screen and (max-width: 375px) {
  #contenedortarjetas {
    width: 95vw;
  }

  .contenedorarticulo img {
    width: 95vw;
  }

  .blogpostbanner {
    position: relative;
    bottom: 0px;
    left: 0px;
  }
}
