:root {
  --charcoal: #264653;
  --green: #2a9d8f;
  --saffron: #e9c46a;
  --brown: #f4a261;
  --siena: #e76f51;
}

body {
  margin: 0;
  padding: 0;
}

#pcontenedorpagina {
  position: relative;
  min-height: 100vh;
}

#contenedorprincipal,
#infocontenedor,
#reservacontenedor,
#footerprincipal {
  padding: 0;
}

header h1 {
  color: var(--charcoal) !important;
  font-size: 3.5rem;
  margin: 0;
}

#bannericonos div i img {
  height: 60px;
  width: 60px;
  filter: invert(57%) sepia(10%) saturate(3021%) hue-rotate(123deg)
    brightness(90%) contrast(75%);
}

#bannericonos {
  color: var(--brown);
}

#botonirarriba {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--saffron); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
}

#botonirarriba:hover {
  background-color: var(--siena); /* Add a dark-grey background on hover */
}

#banner,
#info,
#reserva {
  height: 100vh;
}

#banner {
  background-image: url(/3/Excursion/imagenes/banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(85% 0, 100% 0%, 100% 100%, 5% 100%);
}

#bannercontenedor {
  position: absolute;
  top: 150px;
  left: 5px;
  width: 50vw;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", sans-serif !important;
  font-style: normal;
  text-align: center;
}

p,
input,
button {
  font-family: "Red Hat Display", sans-serif !important;
  font-style: normal;
  font-size: 1.5rem !important;
}

#tituloboton button {
  width: max-content;
  font-size: large;
  border-radius: 15px;
  padding: 10px 15px;
  border: none;
  background-color: var(--saffron);
  color: var(--charcoal);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#tituloboton button:hover {
  background-color: var(--siena);
}

#titulos h1 {
  font-size: calc(1.375rem + 4vw) !important;
  color: var(--siena);
  animation: animaciontitulo 6s linear infinite;
}

@keyframes animaciontitulo {
  0% {
    color: var(--brown);
  }
  25% {
    color: var(--green);
  }

  50% {
    color: var(--saffron);
  }
  75% {
    color: var(--siena);
  }
  100% {
    color: var(--brown);
  }
}

#titulos p,
#titulotexto {
  color: var(--charcoal);
}

.collapse,
.collapsing {
  overflow: auto;
  max-width: 40vw;
}

.accordion {
  width: 40vw;
}

#infotexto {
  height: 70vh;
}

#infoboton button {
  width: max-content;
  font-size: larger;
  border-radius: 15px;
  padding: 10px 15px;
  border: none;
  background-color: var(--saffron);
  color: var(--charcoal);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#infoboton button:hover {
  background-color: var(--siena);
}

#titulotexto {
  text-align: center;
}

#reservavideocontenedor {
  width: 100%;
  height: 90%;
}

#reservavideo,
#reservaformulario {
  width: 45vw;
  height: 90vh;
}

#infomapa {
  overflow: hidden;
  width: 40vw;
  height: 70vh;
}

input,
textarea {
  border-radius: 15px;
  text-align: center;
  border: none;
  margin: 5px;
}

.inputtexto {
  text-align: center;
}

.inputlargo input {
  width: 80%;
}

#reservaboton button {
  width: max-content;
  font-size: larger;
  border-radius: 15px;
  padding: 10px 15px;
  border: none;
  background-color: var(--saffron);
  color: var(--charcoal);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#reservaboton button:hover {
  background-color: var(--siena);
}

#reservavideo {
  background-color: var(--charcoal);
  border-radius: 15px;
}

#reservavideotitulo h3 {
  color: var(--siena);
  font-size: 2.5rem !important;
}

#reservavideotexto h3 {
  color: var(--brown);
  font-size: 3rem !important;
}

#contenedorformulario h4 {
  color: var(--charcoal);
  font-size: 2.5rem !important;
}

#contenedorformulario form {
  padding: 15px;
  background-color: var(--green);
  border-radius: 15px;
}

#contenedorformulario form label {
  font-size: 1.5rem;
}

#footerprincipal {
  height: 100px;
}

#footerbanner {
  height: 100px;
  background-image: url(/3/Excursion/imagenes/footer.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(
    35% 70%,
    65% 70%,
    65% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    35% 0
  );
}

#infotitulo {
  background-color: var(--charcoal);
  color: var(--siena);
}

#infotitulo h3 {
  font-size: 3rem !important;
}

#infoanimacion {
  background-color: var(--siena);
  border-radius: 25px;
}

#footercontenedor {
  position: relative;
  bottom: 100px;
}

.accordion-item button {
  background-color: var(--green) !important;
  color: var(--) !important;
}

#sociales i {
  color: var(--siena);
}

#sociales i:hover {
  color: var(--green);
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 600px) {
  .collapse,
  .collapsing {
    overflow: auto;
    max-width: 90vw;
  }

  .accordion {
    width: 90vw;
  }

  #info,
  #reserva {
    height: fit-content;
  }

  #titulos {
    padding-bottom: 75px;
  }

  #bannercontenedor {
    width: 90vw;
    height: 80vh;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
  }

  #banner,
  #footerbanner {
    clip-path: none;
  }

  #reservavideo,
  #reservaformulario {
    width: 90vw;
    height: fit-content;
  }

  #infomapa {
    width: 90vw;
    height: 70vh;
  }

  #reservaanimacion {
    transform: rotate(90deg);
  }

  #titulos h1 {
    font-size: calc(1.375rem + 8vw) !important;
  }
}
